# .ignore
# Author: Donovan Dikaio <github@dikaio.com>
# Source: https://github.com/dikaio/dotfiles
# =============================================================================

*~
*.log
*.pyc
*.sw[nop]
.bundle
.byebug_history
.DS_Store
.env
.git
.ideas
!tags
bower_components
db/*.sqlite3
log
log/*.log
node_modules
npm-debug.log
tags
tmp
tmp/**/*